@grayLightest: #ddd;

.border-radius(@radius: 4px) {
  -webkit-border-radius: @radius;
     -moz-border-radius: @radius;
          border-radius: @radius;
}

.activeGradient (@bgColor: @linkColor) {
    background-color: @bgColor;
    .buttonBackground(@bgColor, darken(@bgColor, 10%));
}

.wdp {
    font-size: @baseFontSize;
        min-width: @baseFontSize * 15;
        max-width: @baseFontSize * 25;
    &.wdp-has-shortcuts {
        min-width: @baseFontSize * 30;
        max-width: @baseFontSize * 40;
    }
    &.dropdown-menu {
        background: @white;
    }
	&:before {
		content: '';
		display: inline-block;
		border-left:   7px solid transparent;
		border-right:  7px solid transparent;
		border-bottom: 7px solid #ccc;
		border-bottom-color: rgba(0,0,0,.2);
		position: absolute;
		top: -7px;
		left: 6px;
	}
	&:after {
		content: '';
		display: inline-block;
		border-left:   6px solid transparent;
		border-right:  6px solid transparent;
		border-bottom: 6px solid @white;
		position: absolute;
		top: -6px;
		left: 7px;
	}
}
.wdp-shortcuts ul {
    margin-left: 0;
    margin-bottom: 0;
    list-style-type: none;
    li > a {
        &.wdp-shortcut-active {
            color: @white;
            .activeGradient();
        }
        &:hover, &:focus, &.wdp-shortcut-highlighted {
            background-image: none;
            background-color: @grayLightest;
            &.wdp-shortcut-active {
                    color: @white;
                .activeGradient(darken(@linkColor, 10%));
            }
        }
    }
}
.wdp-calendar, .wdp-year-calendar, .wdp-month-calendar {
    width: 100%;
    a {
        padding: 2px 3px;
        text-decoration: none;
    }
    td {
        padding: 3px;
        text-align: center;
        cursor: pointer;
        .border-radius();
        line-height: @baseFontSize + 15;
        height: @baseFontSize + 15;
        width: @baseFontSize + 15;
        &:hover:not(.wdp-selected) {
            background-color: @grayLightest;
        }
    }
    .wdp-prev {
        text-align: left;
    }
    .wdp-next {
        text-align: right;
    }
    .wdp-disabled,
    .wdp-calendar-othermonth {
        color: @grayLightest;
    }
    .wdp-selected {
        .activeGradient();
        color: @white;
    }
}

.wdp-month-calendar, .wdp-year-calendar {
    tr {
        height: 60px;
    }
}
