@grayLightest: #ddd;

.border-radius(@radius: 4px) {
  -webkit-border-radius: @radius;
     -moz-border-radius: @radius;
          border-radius: @radius;
}

.activeGradient (@bgColor: @linkColor) {
    background-color: @bgColor;
    .buttonBackground(@bgColor, darken(@bgColor, 10%));
}

.wdp {
    font-size: @baseFontSize;
        min-width: @baseFontSize * 15;
        max-width: @baseFontSize * 25;
    &.wdp-has-shortcuts {
        min-width: @baseFontSize * 30;
        max-width: @baseFontSize * 40;
    }
    &.dropdown-menu {
        background: @white;
    }
    &:before {
        content: '';
        display: inline-block;
        border-left:   7px solid transparent;
        border-right:  7px solid transparent;
        border-bottom: 7px solid rgba(0,0,0,.2);
        position: absolute;
        top: -7px;
        left: 6px;
        right: auto;
    }
    &:after {
        content: '';
        display: inline-block;
        border-left:   6px solid transparent;
        border-right:  6px solid transparent;
        border-bottom: 6px solid @white;
        position: absolute;
        top: -6px;
        left: 7px;
        right: auto;
    }
}

.wpd-top-right {
    &:before {
        top: -7px;
        right: 6px;
        left: auto;
    }
    &:after {
        top: -6px;
        right: 7px;
        left: auto;
    }
}

.wpd-bottom-right {
    &:before {
        border-bottom: none;
        border-top: 7px solid rgba(0,0,0,.2);
        bottom: -6px;
        left: auto;
        right: 6px;
        top: auto;        
    }
    &:after {
        border-bottom: none;
        border-top: 6px solid @white;
        bottom: -5px;
        left: auto;
        right: 7px;
        top: auto;
    }
}

.wpd-bottom-left {
    &:before {
        border-bottom: none;
        border-top: 7px solid rgba(0,0,0,.2);
        bottom: -6px;
        right: auto;
        left: 6px;
        top: auto;        
    }
    &:after {
        border-bottom: none;
        border-top: 6px solid @white;
        bottom: -5px;
        right: auto;
        left: 7px;
        top: auto;
    }
}

.wpd-right-bottom {
    &:before {
        border-left: 7px solid rgba(0,0,0,.2);
        border-top: 7px solid transparent;
        border-right: none;
        border-bottom: 7px solid transparent;
        bottom: 5px;
        right: -6px;
        left: auto;
        top: auto;        
    }
    &:after {
        border-left: 6px solid @white;
        border-top: 6px solid transparent;
        border-right: none;
        border-bottom: 6px solid transparent;
        bottom: 6px;
        right: -5px;
        left: auto;
        top: auto;
    }
}

.wpd-right-top {
    &:before {
        border-left: 7px solid rgba(0,0,0,.2);
        border-top: 7px solid transparent;
        border-right: none;
        border-bottom: 7px solid transparent;
        bottom: auto;
        right: -7px;
        left: auto;
        top: 5px;        
    }
    &:after {
        border-left: 6px solid @white;
        border-top: 6px solid transparent;
        border-right: none;
        border-bottom: 6px solid transparent;
        bottom: auto;
        right: -5px;
        left: auto;
        top: 6px;
    }
}

.wpd-left-bottom {
    &:before {
        border-left: none;
        border-top: 7px solid transparent;
        border-right: 7px solid rgba(0,0,0,.2);
        border-bottom: 7px solid transparent;
        bottom: 5px;
        right: auto;
        left: -7px;
        top: auto;        
    }
    &:after {
        border-left: none;
        border-top: 6px solid transparent;
        border-right: 6px solid @white;
        border-bottom: 6px solid transparent;
        bottom: 6px;
        right: auto;
        left: -5px;
        top: auto;
    }
}

.wpd-left-top {
    &:before {
        border-left: none;
        border-top: 7px solid transparent;
        border-right: 7px solid rgba(0,0,0,.2);
        border-bottom: 7px solid transparent;
        bottom: auto;
        right: auto;
        left: -8px;
        top: 5px;        
    }
    &:after {
        border-left: none;
        border-top: 6px solid transparent;
        border-right: 6px solid @white;
        border-bottom: 6px solid transparent;
        bottom: auto;
        right: auto;
        left: -6px;
        top: 6px;
    }
}

.wdp-shortcuts ul {
    margin-left: 0;
    margin-bottom: 0;
    list-style-type: none;
    li > a {
        &.wdp-shortcut-active {
            color: @white;
            .activeGradient();
        }
        &:hover, &:focus, &.wdp-shortcut-highlighted {
            background-image: none;
            background-color: @grayLightest;
            &.wdp-shortcut-active {
                    color: @white;
                .activeGradient(darken(@linkColor, 10%));
            }
        }
    }
}
.wdp-calendar, .wdp-year-calendar, .wdp-month-calendar {
    width: 100%;
    a {
        padding: 2px 3px;
        text-decoration: none;
    }
    td {
        padding: 3px;
        text-align: center;
        cursor: pointer;
        .border-radius();
        line-height: @baseFontSize + 15;
        height: @baseFontSize + 15;
        width: @baseFontSize + 15;
        &:hover:not(.wdp-selected) {
            background-color: @grayLightest;
        }
    }
    .wdp-prev {
        text-align: left;
    }
    .wdp-next {
        text-align: right;
    }
    .wdp-disabled,
    .wdp-calendar-othermonth {
        color: @grayLightest;
    }
    .wdp-selected {
        .activeGradient();
        color: @white;
    }
}

.wdp-month-calendar, .wdp-year-calendar {
    tr {
        height: 60px;
    }
}
